.phone_stat {

    max-width: 350px;
    min-width: 280px;
    color: black;
    margin: 20px ;
    background-color: white;
    border-radius: 10px;
    border-width: 2px;
    border-color: gray;
    border-style: solid;
    box-shadow: 0px 0px 4px 6px rgba(0,0,0,0.2);
    /*height: 220px;*/
}
.flex-row {
    display: flex; /* contexte sur le parent */
    margin: 0px;
    height: 183px;
}
.phoneList_col {
    display: flex;
    margin: auto;
    height: 99%;
    padding-right: 0px;

}
.phone_title {
    text-align: center;
    padding-top: 10px;
    height: 35px;
    z-index: 99999999999999001;
}

.img_block {

    height: 100% !important;
    margin: 0px;
    padding-right: 0px;

}

.stats_img {
    position: relative;
    margin: auto;
    max-height: 80% !important;
    max-width: 90% !important;
}
.circle_rank {
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-top: -15px;
    margin-left: -15px;
    background-color: #1b7dd9;
    color: white;

    font-size: 26px;
    opacity: 0.90;
}

.circle_rank-number {
    margin:auto;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}
.button-xs {
    width: 200px;
    position: relative;
    top: -10px;

}
.price {
    display: block;
    max-width: 300px;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 10px !important;
    padding: 10px;
    text-transform: none;
    text-align: center;
    margin: auto;
}

.stats_content {
    vertical-align: top;
    font-size: 14px !important;
    line-height: 18px !important;
}

#hidden-content {
    max-width: 95vw;
}

@media all and (min-width: 480px) {
    .phone_stat {
        min-width: 500px;
        max-width: 600px;
        max-height: 250px;
        margin: 20px auto;
    }
    .row {
        padding-right: 15px;
    }
}
