/**
* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of reset */

* {
    box-sizing: border-box;
}
.main_wrapper {
    max-width: 100%;
    margin: auto;
}
.img-box {
    text-align: center;
    font-size: 18px;
    padding:15px;
}
.content-box {
    text-align: left;
    padding: 15px;
}
.small-box {
    max-width: 450px;
}
.content-button {
    text-align: left !important;
    margin: 5px 0;
}
.onglet {
    /*margin-left: 15px;*/
}
.progress {

    margin-bottom: 5px;
    display: inline-block;
    min-width:210px;
}
.img-title {
    padding-top: 7px;
}

.img-borderbox {
    max-width:100%;

    display: block;
    margin: auto;
}
.bigpic {
    max-height: 40vh;
    min-height: 220px;
}
.price_button {
    margin-top: 15px !important;
}
.right-glyph {
    float: right;
    display: inline-block;
}

.tight-tabs>li>a {
    padding: 10px;
}

.large-container {
    padding: 5px;
}

.datasheet {
    font-weight: bold;
}

.datasheet tbody tr :first-child {
    color: #949ea9;

}
.colorPhone-input{
    position: relative;
    margin-top: 20px !important;
}
.text-label {
    margin-left: 25px;
    line-height: 20px;
}

.main-text {
    font-size: 14px;
}

.colorPhone-label {
    margin: 10px 0;
    margin-left: 0 !important;
}

.space_box{
    padding-top: 15px;
    padding-bottom: 15px;
}
.space_box li {
    min-height: 40px;
}
.field {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
    min-width: 100px;
    line-height: 20px;
}


@media all and (min-width: 768px) {
    .content-title {
        margin-bottom: 15px;
        margin-top: 10px;
        display: block;
    }
    .content-button {
        margin-top: 15px !important;
    }
    .bigpic {
        max-height: 50vh;
        min-height: 350px;
    }
    .main_wrapper-sm {
        max-width: 75%;
        margin: auto;
    }
    .datasheet tbody tr td{
        padding-left: 15px;
    }
    .tight-tabs>li>a {
        padding: 10px 15px;

    }

    .title-sm {
        font-size: 18px;
    }
}

@media all and (min-width: 980px) {
    .tight-tabs>li>a {
        padding: 15px 30px;

    }
    .title-sm {
        font-size: 20px;
    }
    .main-text {
        font-size: 16px;
    }

    .comments li span {
        font-size: 16px;
    }
}
